/***************************************** 
 Confiuration.css

Created by R�mi Koci

******************************************/

@font-face {
font-family: "hagin_caps_mediumregular"; 	src: url('./font/hagin_caps_medium-webfont.woff');
}

@-webkit-keyframes h1{
	0%{opacity: 0;}
	30%{opacity: 1;}
	100%{opacity: 1;}
}
@-moz-keyframes h1{
	0%{opacity: 0;}
	30%{opacity: 1;}
	100%{opacity: 1;}
}
@-o-keyframes h1{
	0%{opacity: 0;}
	30%{opacity: 1;}
	100%{opacity: 1;}
}
@keyframes h1{
	0%{opacity: 0;}
	30%{opacity: 1;}
	100%{opacity: 1;}
}
body {
  background: url('./images/bg-stripe.gif') repeat;
}

#menu {
  float: left;
  width: 17%;
  	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

@keyframes blink
{
0%  {box-shadow: 0 0 0px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);}
50% {box-shadow: 0 0 20px #FB4F4F,
				0 -1px 0 rgba( 255, 255, 255, 0.4);}
100% {	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4)}
}

@-moz-keyframes blink /* Firefox */
{
0%  {box-shadow: 0 0 0px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);}
50% {box-shadow: 0 0 20px #FB4F4F,
				0 -1px 0 rgba( 255, 255, 255, 0.4);}
100% {	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4)}
}

@-webkit-keyframes blink /* Safari and Chrome */
{
0%  {box-shadow: 0 0 0px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);}
50% {box-shadow: 0 0 20px #FB4F4F,
				0 -1px 0 rgba( 255, 255, 255, 0.4);}
100% {	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4)}
}

@-o-keyframes blink /* Opera */
{
0%  {box-shadow: 0 0 0px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);}
50% {box-shadow: 0 0 20px #FB4F4F,
				0 -1px 0 rgba( 255, 255, 255, 0.4);}
100% {	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4)}
}
#container {
 width : 1300px;
  margin-left: auto;
  margin-right: auto;
}

#corps {
  border: 8px solid #FB4F4F;
  padding: 0 3% 2% 3%;
  margin-left: 18%;
  margin-bottom: 0;
    margin-top : 50px;
  color: black;
  background-color: white;
  text-align: justify;
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	
	animation:blink 2s;
	-moz-animation:blink 2s; /* Firefox */
	-webkit-animation:blink 2s; /* Safari and Chrome */
	-o-animation:blink 2s; /* Opera */
		}
#corps:hover{
	box-shadow: 0 0 15px #000,
			0 -1px 0 rgba( 255, 255, 255, 0.4);
}
#corps h1 {
border-top:white;
border-left:white;
border-right:white;
border-bottom:3px solid #444;
  text-transform: uppercase;
  font-family: 'hagin_caps_mediumregular';
  font-weight: lighter;
  -webkit-animation: h1 4s linear 0s infinite alternate;
  animation: h1 4s linear 0s infinite alternate;
  color: #444;
  text-align: left;
  margin-bottom: 10px;
  font-family: Verdana, serif;
  font-size:1.6em;
}
#logo{
  float:left;
  }
#corps .texte {
  font-size: 1.1em;
  font-family: Verdana,Arial,Sherif;
}
#fin {
  border: 3px solid #666;
  text-align: center;
  color: black;
  background-color: white;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
    0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;

    animation:blink 2s;
    -moz-animation:blink 2s; /* Firefox */
    -webkit-animation:blink 2s; /* Safari and Chrome */
    -o-animation:blink 2s; /* Opera */
		}
#fin:hover{
    box-shadow: 0 0 15px #000,
    0 -1px 0 rgba( 255, 255, 255, 0.4);
}
p {
  font-family: Arial;
}
#fin p a
{
color: black;
text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
margin:2px;
}
#fin p a:hover
{
color: #FB4F4F;
text-decoration: none;
margin:10px;
}
#sous_menu 
{
  border-style: solid  ;
  border:3px solid #666;
  margin: 0;
  padding: 0;
  background: white none repeat scroll 0%;
  font-weight:bold;
  list-style-type: none;
  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	
	animation:blink 2s;
	-moz-animation:blink 2s; /* Firefox */
	-webkit-animation:blink 2s; /* Safari and Chrome */
	-o-animation:blink 2s; /* Opera */
		}
#sous_menu:hover{
		box-shadow: 0 0 15px #000,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
#sous_menu li{
  box-shadow: 0 0 1px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
				
  font-family: Verdana,Arial,Sherif;
  font-size:16px;
  margin: 0;
  padding: 2px 0 2px 0;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
#sous_menu li:hover{
  border:none;
  width:100%;
  box-shadow: 0 0 0px rgba( 0, 0, 0, 0.5),
                0 0px 0 rgba( 255, 255, 255, 0.4);
  font-family: Verdana,Arial,Sherif;
  font-size:16px;
  margin-left: 0px;
  padding: 2px 0 2px 0;
}
#sous_menu a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'hagin_caps_mediumregular';
  font-weight: lighter;
  color: #FB4F4F;
  display: block;
  padding-left: 1.5em;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
#sous_menu a:hover{
  color: #FB4F4F;
  box-shadow: 0 0 4px #000,
                0 0px 0 rgba( 255, 255, 255, 0.4);
}

#submitmarg{
margin-left: 150px;
}

input[type=submit]
{
margin-top:3px;
border : 1px solid grey;
border-radius:1px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
input[type=submit]:hover{
border : 1px solid #FB4F4F;
box-shadow: 0 0 3px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
input[type=submit]:focus{
border : none;
outline:none;
background:none;
}
.post input
{
margin-bottom: 3px;
border : 1px solid grey;
box-shadow: 1px 1px 1px #bbb,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
border-radius:1px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.post input:hover{
border : 1px solid #FB4F4F;
box-shadow: 0 0 3px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.post input:focus{
border : 1px solid #FB4F4F;
outline:none;
background:none;
}
.post input[type=submit]
{
border : 1px solid grey;
border-radius:1px;
margin-left: 150px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.post input[type=submit]:hover{
border : 1px solid #FB4F4F;
box-shadow: 0 0 3px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.post input[type=submit]:focus{
border : none;
outline:none;
background:none;
}
.post textarea
{
border : 1px solid grey;
border-radius:1px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.post textarea:hover{
border : 1px solid #FB4F4F;
box-shadow: 0 0 3px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.post textarea:focus{
border : 1px solid #FB4F4F;
outline:none;
background:none;
}
.post form
{
padding-left: 15px;
background: white;
margin-left:20%;
margin-top: 45px;
margin-bottom: 15px;
width: 630px;
padding: 15px;
border-radius:3px;
box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.post form:hover{
box-shadow: 0 0 5px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
#accueil
{
margin:auto;
margin-top: 45px;
width:815px;
padding: 15px;
border-radius:3px;
box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
 label 
{
display:block;
width:180px;
float:left;
font-family: Arial;
margin-bottom: 3px;
}
#titre
{
  text-align: center;
  font-size: 2.1em;
  font-style: italic;
  background:url('./images/header.jpg');
  width:1300px;
  height:120px;
  padding-top:70px;
  color:#333;
  text-transform: uppercase;
  font-family: 'hagin_caps_mediumregular';
  font-weight: lighter;
}
span.flag-left {
float: left;
padding: 0 10px 0 10px;
height: 49px;
width: 10px;
background: url('./images/flag-left.png') no-repeat;
}
span.flag-right {
float: left;
height: 49px;
width: 10px;
background: url('./images/flag-right.png') no-repeat;
}
select {
width: 170px;
margin-left: 2px;
margin-top:3px;
margin-bottom:3px;
box-shadow: 0 0 2px #FB4F4F, 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
#arial {
  font-family: Arial;
  font-size: 1em;
}
table {
  margin: 2% 0 0 0;
  border-color:#e8f0f4;
}
#login{
margin-top:5px;
float:right;
}

#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 200px;
}
#suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* keydown, keyup */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* mouse over */
    background-color: #99CCFF;
}
.divRecherche
{
padding-left: 15px;
margin-left:15%;
margin-top: 15px;
margin-bottom: 15px;
width: 70%;
padding: 15px;
border-radius:3px;
box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.divRecherche:hover{
box-shadow: 0 0 5px #FB4F4F,
                0 -1px 0 rgba( 255, 255, 255, 0.4);
}
#accueil2{
margin: auto;
width:670px;
}